{% extends 'base.html.twig' %}

{% block body %}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Appelation du vin</th>
            <th scope="col">Millésime</th>
            <th scope="col">Région</th>
            <th scope="col">Contenance</th>
            <th scope="col">Robe</th>
            <th scope="col">Quantité en stock</th>
            <th scope="col">Voir un vin</th>
            {% if is_granted('ROLE_ADMIN') %}
            <th scope="col">Modifier un vin</th> 
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for vin in vins %}
        <tr>
            <td scope="row">{{ vin.nom }}</td>
            <td >{{ vin.millesime }}</td>
            <td >{{ vin.region.region }}</td>
            <td>{{ vin.contenance }}</td>
            <td>{{ vin.robe }}</td>
            <td>{{ vin.qteStock }}</td>
            <td><a class="btn btn-outline-info" href="{{ path('vin.show', {id:vin.id}) }}">Cliquez ici</a></td>
            <td><a class="btn btn-outline-info" href="{{ path('vin.edit', {id:vin.id}) }}">Cliquez ici</a></td>

        </tr>  
    {% else %}
            <tr>
                <td colspan="3">Aucun résultat retrouvé</td>
            </tr>
        {% endfor %}
        
    </tbody>
</table>
<br>
    
{% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-outline-primary" href="{{ path('vin.new') }}">Créer une nouvelle entrée</a>
{% endif %}

{% endblock %}
